body{
  font-family:sans-serif;
  text-align:justify;
}

#container{
  display:flex;
  position:relative;
}

#navbar{
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: dashed;
  border-color: rgba(0, 22, 22, 0.4);
  background-color:#e6f2ff;

}

header {
  color: #006666;
  margin: 10px;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

#main-doc header {
  text-align: left;
  margin: 0px;
  text-decoration-line:underline;
  font-family:monospace;
}

#navbar ul {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
 
}

#navbar li {
  color: #000000;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size:13pt;
  font-family:monospace;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#navbar li a:hover{
  background-color:#5DBCD2;
  color:white;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 15px;
  margin-bottom: 110px;
}



section li {
  margin: 20px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 3;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}