#main{
  background-color:#f0eeec;
  text-align:center;
  font-family:arial;
  margin:25px 10px;
  padding:10px;
  }

#title{
  padding:35px 0 0 0;
}
h1{

  font-size: 30pt
}

h3{
  margin: 70px auto 50px auto;
  font-size:16pt;
  font-style:
}

main > p{

   font-size: 12pt
}

#img-div{
  background-color:white;
  padding:10px;
  margin:10px;
  
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
   border: 1px solid black;
  border-radius:15px;
}
#img-caption{
  margin:10px; 0 10 0;
  padding:5px 0 0 0;
  font-size:12pt;
}


ul {
  max-width: 550px;
  margin:auto;
 /* margin: 0 auto 50px auto;*/
  text-align: left;
  line-height: 1.6;
}
li{
  margin: 0 0 20px 0;
}

blockquote{
  font-style:italic;
  text-align:left;
  max-width: 550px;
  margin:0 auto 40px auto;
}
a:hover{
  color:red;
}
